.createPanel {
  padding: 20px 0;
}

.createPanel__button {

  font-size: 16px;
  line-height: 1.4;
  cursor: pointer;
  padding: 6px 12px;
}

.createPanel__button:hover {
  background: black;
  color: white;
  transform: translateY(-3px);
}

.createPanel__button--return {
  margin-right: auto;
}

.createPanel__button--save {
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 12px;
}

.createPanel__button--delete {
  
}


.storyPanel {
  display: grid;
  height: 60vh;
  grid-template-columns: 150px auto;
  grid-gap: 100px;
}

.storyPanel__icon-container {
  background: grey;
  display: flex
}

.storyPanel__icon {
  
}

.storyPanel__input {
  display: flex;
  flex-direction: column;
}

.storyPanel__input-text {
  margin-bottom: 50px;
}


.storyPanel__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: 100%;
  flex-basis: 80%;
  border: 1px solid black;
}
  
.storyPanel__text-container {
  max-width: 40%;
  flex-basis: 40%;
  flex: 1;
}

.storyPanel__image-container {
  max-width: 40%;
  flex-basis: 40%;
  flex: 1;
}

.storyPanel__image {
  width: 100%;
  height: auto;
  display: block;
}


.storyPanel__text {
  font-size: 30px;
  margin: 0;
}